
:root{
    --default-text-color: #9C4386;
    --status-text-color: #873F7A;
    --color-box: #FAE4C0;
}

*{
    color: var(--default-text-color);

    word-wrap: break-word;
    margin: auto 0;
    
    list-style-position: inside;
    padding: 0;
    font-size: 1.8vw;
}

body{background: linear-gradient(to bottom, #FED6B3 0%, #B7718D 72%);}

main{
    width: 75vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-box);
    text-align: left;
    padding-bottom: 150px;
}

header{
    color: var(--status-text-color);
    text-align: center;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
        width: 100%;
    }
}

section
{
    padding: 0 8vw;

    #about, #guide {
        display: flex;
        gap: 1px;
        justify-content: space-between;
        margin: 0 auto;

        #itens {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            img {width: 13vw};
        }
    } 

    #engine_icons {
        padding-top: 50px;
        display: flex;
        justify-content: center;
        gap: 1vw;
        img {width: 4vw}
    }
}







