@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&family=Podkova:wght@400..800&display=swap');

:root
{
    --color-box: #FAE4C0;

    --default-text-color: #9C4386;
    --status-text-color: #873F7A;
}

/* Alert Pop Up */
#alerts {
    position:fixed;
    display: flex;
    flex-direction:column;
    gap: 10px;
    bottom: 1vh;
    right: 1vw;

    .alert {
        /* position: fixed; */


        background-color: #483155;
        border-radius: 10px;

        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;

        font-size: calc(3vw * 1rem);

        width: 500px;
        height: 10rem;

        min-height: 10vh;
        min-width: 10vw;

        max-width: 50vw;
        max-height: 30vh;

        /* max-width: 500px; */
    }

    /* .alert::before
    {
        font-size: 10px;
    } */
}

body {
    font-family: "Geom", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--default-text-color);
}

#pixel {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

/* CollorFull Letter */
strong {
    font-weight: 600;       
    background: linear-gradient(to bottom, #483155 60%, #FFBF6F);

    box-sizing: content-box;
    text-box: 10px;
    -webkit-background-clip: text;
    color: transparent;

    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* Center Bar */
main{
    width: calc(75vw + 5rem);
    min-width: 15vw;
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--color-box);
    text-align: left;
    padding-bottom: 150px;
    font-size: 1.8rem;

}

.title {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 30px 0;
}

.title::after,
.title::before
{
    content: "";
    flex: 1;
    height: 1.5px;
    background-color: #9C4386;
    border-radius: 80px;
    margin: 0 8px;
}
